# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Binaries
test/*_test

# Vim files
*.swp
.vimsession
tags

# Git files
*.orig

# Packages
*.tar.gz

# Project files
bin/
config.sub
depcomp
install-sh
ltmain.sh
missing
autom4te.cache/
configure
aclocal.m4
m4/
build-aux/
config.log
config.status
libtool
mxadt/config.h
mxadt/stamp-h1
.dirstamp
*.h.in
*.h.in~
*.deps/
*.libs/
Makefile
Makefile
Makefile.in*
config.guess
doc/html/
doc/man/
doc/latex/
